.about-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: 5;
  opacity: 0;
}

.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
}

.large-title-sm-device {
  font-size: 25vw;
}

.large-title-md-device {
  font-size: 20vw;
}

.large-title-lg-device {
  font-size: 15vw;
}

.close-btn-container {
  right: 0;
  top: 0;
}
